body
    {
        margin: 0;
         height: 100vh;
          overflow: hidden;
          font-family: 'Katibeh';

    }

.bg{
position: absolute;
width: 100vw;
height: 100vh;
left: 0px;
top: 0px;
z-index: 0;
background-color: #FFE3DB;}

.start .bg {
    z-index: 50;
}

body{
    font-family: 'Katibeh';


}
.inGame .title {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    height: 20vh;
    z-index: 2200;

}
.start .title {
    display: flex;    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    height: 20vh;
    z-index: 2200;

}

.title .cats{

font-family: 'Katibeh';
font-style: normal;
font-size: 2.5rem;
font-weight: 600;

color: #FBB03B;
z-index: 2200;


}
h2{
    margin: 0 0 0 0;
}
.title h1 {
margin-bottom: 0.2em;
font-family: 'Katibeh';
font-style: normal;
font-weight: bold;
font-size: 3.4rem;
color: #73512E;
z-index: 2200;
}

.start .playBtn {
    z-index: 2200;
    position: fixed;
    margin-top: 30em;
    width: 50vw;
    height: 10vh;
    border-radius: 10em;
    border: none;
    background-color: #8C6338;
    padding: 0;

}
.playBtn:hover{
transform: scale(1.1);
transition: 0.2s ease-in-out;

}
.playBtn p   {
    font-size: 4.5rem;
    font-family: 'Katibeh';
    color: #FBB03B;
    margin: 0;
    font-weight: 700;


}

.start .bgPaw  {
    z-index: 2200;
    width: 70vw;
    position: fixed;
    top: 42vh;
    left: -15vw;
}
.bgPaw:hover{
    transform: translateX(5%);
    transition: 0.5s ease-in-out;
}
.start .bgPaw2  {
    z-index: 2200;
    width: 70vw;
    position: fixed;
    top: 65vh;
    right: -15vw;
}
.bgPaw2:hover{
    transform: translateX(-5%);
    transition: 0.5s ease-in-out;
}



.inGame .action{
    position: fixed;
    bottom: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    z-index: 200;
}

.inGame .action button{
    margin: 0 1.3em 0 1.3em;
    height: 20vh;
    width: 7em;
    border: 0;
    border-radius: 5em;
    background:#FFE3DB;
}
.inGame .action .button .choice{
    width: 100em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.inGame .action .chrock:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.inGame .action .chpaper:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.inGame .action .chscisors:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
 .inGame .names{
    display: none;
    z-index: 20;
   
    bottom: 0.5vh;
    left: 10vw;
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
 }
 .inGame .text{
    z-index: 20;
    position: fixed;
    bottom: 3vh;
    left: 21vw;
    width: 19em;
 }
.inGame .player{
    position: absolute;
    left: 0.5em;
    top: 2.3em;
    font-size: 3rem;
    z-index: 20;
    color: #73512E;
    font-size: 4rem;
    font-weight: 500;
}


.inGame .computer{
    position: absolute;
    top: 2.35em;
    right: 0.2em;
    font-size: 3rem;
    z-index: 20;
    font-size: 4rem;
    color: #73512E;
    font-weight: 500;
}

.inGame .you{

    position: absolute;
    text-align: center;
    left: 37vw;
    top: 64vh;
    font-size: 4rem;
    color: #73512E;

    z-index: 100;
}

.score{
    z-index: 20;
    position: fixed;
    top: 24vh;
    left: 39vw;
    font-size: 4.5rem;
    font-family: 'Katibeh';
    color: #73512E;

}

.inGame .urchoice{
    position: absolute;
    left:-50vw;
    top: -10vh;
    transform: rotate(90deg);
    z-index: 20;
    transform-origin: bottom left;

}
.inGame .urchoice.animate{
    animation: updownyou 0.8s 3 ;
}

@keyframes updownyou {
    0% {
        transition: ease-in-out;
    }
    50% {
        transform: rotate(50deg);
        transition: ease-in;
    }
    100% {
    
    }
}

.inGame .cmpchoice.win{
    animation: cmpwin 1s 1;
}
@keyframes cmpwin {
    0%{

    }
    40%{
        transform: rotate(-80deg);
    }
    60%{
        right:-40vw ;
    }
    100%{

    }
}
.inGame .cmpchoice{
    
    position: absolute;
    right:-55vw;
    top:-22vh;
    transform: rotate(-90deg);
    z-index: 20;
    transform-origin: bottom right;
}
.inGame .cmpchoice.animate{
    animation: updowncmp 0.8s 3 ;
}
@keyframes updowncmp {
    0% {
        transition: ease-in-out;
    }
    50% {
        transform: rotate(-50deg);
        transition: ease-in;
    }
    100% {
    
    }
}



